* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

header {
  height: 70px;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}

aside {
  max-height: 100vh;
}

header {
  overflow: hide;
}

.main {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

/* Colours and styles*/

.grey-bg {
  background-color: #dfdfdf;
}

.light-grey-bg {
  background-color: #eaecef;
}

.orange-color {
  color: #ff7021;
}

.grey-color {
  color: #666666;
}

.darker-grey-color {
  color: #313234;
}

.black-color,
.lists-footer li a {
  color: black;
}
.white-color {
  color: whitesmoke;
}

.orange-bg {
  background-color: #ff7021;
}

.orangy-bg {
  background-color: #ffead0;
}

.white-bg {
  background-color: whitesmoke;
}
.ft-x-sml {
  font-size: 10px;
}

.ft-x-sml-2 {
  font-size: 13px;
}

.ft-sml {
  font-size: 15px;
}

.ft-mdn {
  font-size: 20px;
}

.ft-big {
  font-size: 25px;
}

.ft-bold {
  font-weight: bold;
}

.round-border {
  border-radius: 0.5rem;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  border: none;
}

.max-width {
  max-width: 150px;
}

.max-width-2 {
  max-width: 180px;
}
/* Grids*/

.three-c-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.four-c-grid {
  display: grid;
  grid-template-columns: repeat(3, auto) 100px;
  gap: 1rem;
}

.two-c-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.three-c-grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.two-c-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.five-c-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 30px));
  gap: 1rem;
}

.two-c-grid-internal-pages {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.three-c-grid-ip {
  display: grid;
  grid-template-columns: 1fr 30px 180px;
}
/* Classes*/

.center-w {
  max-width: 60ch;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-frame {
  width: 120px;
}

.logo-frame-2 {
  width: 145px;
}

.icon-frame-internal-page {
  max-width: 23px;
}

.frame-profile-pic {
  width: 40px;
}

.frame-icon-expand {
  max-width: 20px;
}

.background-img {
  background-image: url(/pics/pic-3-sml.jpg);
}

.lateral-padding {
  padding: 0 9rem 0 9rem;
}

.padding-top {
  padding-top: 2rem;
}
.padding-top-2 {
  padding-top: 1rem;
}
.padding-bottom {
  padding-bottom: 2rem;
}

.padding-bottom-2 {
  padding-bottom: 1rem;
}

.padding-bg-img {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-right {
  padding-right: 1rem;
}

.padding-internal-pages {
  padding-right: 2rem;
  padding-left: 2rem;
}

.padding-box-1rem {
  padding: 1rem 0 1rem 0;
}
.align-i-center {
  display: grid;
  align-items: center;
}

.justify-i-center {
  display: grid;
  justify-items: center;
}

.justify-i-end {
  display: grid;
  justify-items: flex-end;
}
.justify-i-start {
  display: grid;
  justify-items: flex-end;
}

.background-img {
  background-image: url(https://image.freepik.com/free-photo/beautiful-black-girl-with-shopping-bags-city_1157-24576.jpg);
}

.container-form {
  border-radius: 1rem;
  background-color: #ffffff;
  max-width: 400px;
}

.boxes-form {
  border-radius: 5px;
  border: solid 1px #ff7021;
  padding: 1rem;
}

.header-form {
  padding: 1.3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.main-form {
  padding: 1rem 2rem 1.3rem 2rem;
  display: grid;
  gap: 2rem;
}

.title-main {
  display: grid;
  align-items: flex-end;
}

.text-box-form {
  width: 100px;
}

.outside-box-form {
  padding: 0 0 0 5.5rem;
}

.frame-s2 {
  max-width: 180px;
}

.frame1-s2 {
  max-width: 300px;
}

.frame1-s3 {
  max-width: 93%;
}

.frame3-s3 {
  max-width: 100%;
  overflow: hidden;
}

.box1-s3 {
  border-radius: 5px;
  border: solid 1px #ff7021;
  padding: 0 0 0.6rem 0;
}

.gap {
  display: grid;
  gap: 2rem;
}

.frame-icons-footer {
  max-width: 30px;
}

.border-top {
  border-top: 1px solid #ff7021;
}

.border-right {
  border-right: 1px solid #ff7021;
}
.expand {
  width: 100%;
}

.border-button {
  border: 1px solid #ff7021;
}

.collapsible {
  background-color: white;
  color: #313234;
  cursor: pointer;
  padding: 0.5rem;
  max-width: 90%;
  border: none;
  border-radius: 2rem;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.display-none {
  display: none;
}

.frame-card {
  max-width: 200px;
}
/* Effects*/

.scroll-bar {
  .scroll-section {
    height: calc(100vh - 70px);

    /* overflow: scroll; */
    overflow-y: scroll;
  }
}

.scroll-sml {
  .scroll-section {
    height: calc(100vh - 65%);

    /* overflow: scroll; */
    overflow-y: scroll;
  }
}

a:hover {
  text-decoration: underline;
}

.active,
.collapsible:hover {
  background-color: #eaecef;
}

/* Experiments*/

.nav {
  float: none;
  clear: both;
  width: 30%;
  margin: 10% auto;
  background: #eee;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  float: none;
  width: 100%;
}

nav li a {
  display: block;
  width: 100%;
  padding: 20px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li a:hover {
  border-bottom: 0px;
  color: #fff;
}
nav li:first-child a {
  border-left: 10px solid #3498db;
}
nav li:nth-child(2) a {
  border-left: 10px solid #ffd071;
}
nav li:nth-child(3) a {
  border-left: 10px solid #f0776c;
}
nav li:last-child a {
  border-left: 10px solid #1abc9c;
}

nav li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

nav li a:hover:after {
  width: 100%;
}
nav li:first-child a:after {
  background: #3498db;
}
nav li:nth-child(2) a:after {
  background: #ffd071;
}
nav li:nth-child(3) a:after {
  background: #f0776c;
}

nav li:last-child a:after {
  background: #1abc9c;
}
